.stat-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 1rem;
  border: 1px solid #333;
  margin: 1rem;
  border-radius: 5px;
  h2 {
    color: #8e44ad;
    margin-bottom: 0.3rem;
  }
  p {
    margin: 0.3rem 0;
  }
}
